/* Custom reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  display: flex;
  min-height: 100%;
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  flex: 1;

  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

strong, small, button, input, a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Main styles */
body {
  display: flex;
  flex-direction: column;
  padding: 8.5rem 0 3.5rem;

  color: #151f29;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 4.7rem;
}

.header {
  margin-bottom: 3.6rem;
}

.logo {
  display: inline-block;
  width: 5.4rem;
}

.title {
  margin-bottom: 1.9rem;

  color: #969696;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.title-bold {
  color: #151f29;
  font-weight: 700;
}

.subtitle {
  margin-bottom: 3.1rem;

  color: #151f29;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;

  display: block;
  margin-bottom: 1rem;
}

.field-input, .button {
  padding: 1.2rem 3.2rem;

  border-radius: 10rem;
  outline: none;
}

.field-input {
  width: 100%;

  border: 0.1rem solid #c2d3ff;
}

.field-input:hover, .field-input:focus {
  border-color: #4f7df3;
}

.field.invalid > .field-input {
  border-color: #ff5263;
}

.error-message {
  position: absolute;

  display: none;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  color: #ff5263;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.02rem;
}

.field.invalid > .error-message {
  display: block;
}

.button {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;

  border: none;
  background-color: #4f7df3;
  box-shadow: 0 0.5rem 1rem #c2d3ff;
}

.button:hover, .button:focus {
  background-color: #7195f5;
}

.field.invalid + .button {
  position: relative;
  top: 3.2rem;
}

.hero {
  margin-top: 7rem;
  margin-bottom: 11.5rem;
  max-width: 32rem;
}

.socials {
  display: flex;
  justify-content: center;
}

.social:not(:last-child) {
  margin-right: 1.2rem;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;

  color: #4f7df3;
  font-size: 1.4rem;

  border-radius: 50%;
  border: 0.1rem solid #c2d3ff;
  outline: none;
}

.social-link:hover, .social-link:focus {
  color: #ffffff;

  background-color: #4f7df3;
}

.copy {
  display: inline-block;
  margin-top: 2.8rem;

  color: #969696;
  font-size: 1rem;
}

@media (min-width: 31.25rem) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 37.5rem) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 50rem) {
  html {
    font-size: 62.5%;
  }

  body {
    padding-bottom: 5rem;

    font-size: 2rem;
  }

  .container {
    max-width: 73rem;
  }

  .header {
    margin-bottom: 4.4rem;
  }

  .logo {
    width: 8.5rem;
  }

  .title {
    margin-bottom: 1.6rem;

    font-size: 4.8rem;
    letter-spacing: 0.0175rem;
  }

  .subtitle {
    margin-bottom: 4rem;
  }

  .form {
    flex-direction: row;
    align-items: flex-start;

    font-size: 1.6rem;
  }

  .field {
    flex: 1;
    margin-bottom: 0;
    margin-right: 1.6rem;
  }

  .field-input, .button {
    padding: 1.8rem 6.2rem;
  }

  .field-input {
    padding-left: 3rem;
  }

  .error-message {
    margin: 0.8rem 3rem 0;

    font-size: 1.2rem;
    text-align: left;
  }

  .field.invalid + .button {
    position: static;
  }

  .hero {
    margin-top: 8.5rem;
    margin-bottom: 5rem;
    max-width: 64rem;
  }

  .social:not(:last-child) {
    margin-right: 1.4rem;
  }

  .social-link {
    width: 3rem;
    height: 3rem;
  }

  .copy {
    margin-top: 2.4rem;

    font-size: 1.2rem;
  }
}
